beautifulsoup4==4.4.1
cycler==0.10.0
decorator==4.0.9
Django==1.9.4
image==1.4.4
jsonpickle==0.9.3
lxml==3.5.0
matplotlib==1.5.1
networkx==1.11
numpy==1.11.0rc1
Pillow==3.1.1
PyBrain==0.3.3
pycproject==0.0.2+dev
pyparsing==2.1.0
python-dateutil==2.5.0
pytz==2015.7
scipy==0.17.0
six==1.10.0
wordcloud==1.2.1
